{{#include "layout" title=name bodyClass="collection"}}

    <h2>{{name}}</h2>

    <div class="row">
        <div class="col-sm-6">

            {{{summary}}}

            {{{detail}}}

        </div>

        <div class="col-sm-6">
            <h3 class="visible-xs">Examples</h3>

            {{include "repl" samples=samples}}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-push-6">
            <h3>Constructors</h3>

            <ul>
            {{#each names}}
                <li>{{this}}</li>
            {{/each}}
            </ul>

            <h3>Related</h3>

            <ul>
                <li><a href="#">Todo</a></li>
            </ul>
        </div>

        <div class="col-sm-6 col-sm-pull-6">
            <h3>Methods</h3>

            <dl>
                {{#each methodIndex}}
                <dt><a href="/method/{{ref}}">{{name}}</a></dt>
                <dd><p>{{{summary}}}</p></dd>
                {{/each}}
            </dl>
        </div>
    </div>

{{/include}}
