{{#include "layout" title=name afterTitle="method" bodyClass="method"}}

    <h2 {{#if deprecated}}class="deprecated"{{/if}}>{{name}}</h2>

    <div class="row">
        <div class="col-sm-6">
            {{#if deprecated}}<p><strong>Deprecated.</strong></p>{{/if}}

            {{{summary}}}

            {{{detail}}}
        </div>

        <div class="col-sm-6">
            <h3 class="visible-xs">Examples</h3>

            {{include "repl" samples=samples}}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-push-6">
            <h3>Arguments</h3>

            <ul>
            {{#each names}}
                <li>{{this}}</li>
            {{else}}
                <li>{{name}}</li>
            {{/each}}
            </ul>

            <h3>Related</h3>

            <ul>
                <li><a href="#">Todo</a></li>
            </ul>
        </div>

        <div class="col-sm-6 col-sm-pull-6">
            <h3>On collections</h3>

            <ul>
                {{#each collections}}
                <li><a href="/{{ref}}">{{name}}</a> {{#if speed}}&mdash; {{speed}}{{/if}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

{{/include}}
