
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

.column {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 13px;
    padding-bottom: 10px;
    margin-right: 2px;
}

header {
    height: 30px;
    border-bottom: 1px solid black;
    margin-bottom: 6px;
}

h2 {
    margin: 0;
    padding: 0;
}

#interfacesColumn {
    width: 200px;
    height: 100%;
}

#collectionsColumn {
    width: 200px;
    height: 100%;
}

#detailsColumn {
    width: 600px;
    width: calc(100% - 708px);
    width: -webkit-calc(100% - 708px);
    width: -moz-calc(100% - 708px);
    width: -o-calc(100% - 708px);
    height: 100%;
}

#methodsColumn {
    width: 300px;
    height: 100%;
}

.panel {
    overflow: auto;
    height: calc(100% - 30px);
    height: -webkit-calc(100% - 30px);
    height: -moz-calc(100% - 30px);
    height: -o-calc(100% - 30px);
}

body.javascript .card {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

.card {
    padding: 6px;
    border: solid black 1px;
    border-radius: 10px;
    margin-bottom: 6px;
    overflow: hidden;
}

.card--active {
    background-color: #eee;
}

.interface {
    height: 80px;
}

.collection {
    height: 80px;
}

.detail {
    padding: 6px;
    margin-bottom: 6px;
    border: solid black 1px;
    border-radius: 10px;
    overflow: hidden;
}

.method {
    height: 60px;
}

.name {
    font-size: 120%;
    padding: 0;
    margin: 0;
}

.card > p {
    padding: 0;
    margin: 0;
    font-size: 80%;
}

.badge {
    float: right;
    border: solid black 1px;
    border-radius: 10px;
    min-width: 10px;
}

.selected {
    border-color: blue;
    background-color: #ddddff;
}

.very-fast {
    background-color: #ddffdd;
}

.fast {
    background-color: #ffffdd;
}

.slow {
    background-color: #ffdddd;
}

.not-implemented {
    background-color: #dddddd;
}

