<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}{{#if afterTitle}} {{afterTitle}}{{/if}} - Collections</title>

    <link rel="stylesheet" href="/style/bootstrap.min.css">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/tomorrow.css">
</head>
<body class="{{bodyClass}}">
    <div class="container">
        <nav class="row" role="navigation">
            <div class="col-sm-3 col-xs-6"><a href="/">Collections</a></div>
            <a class="col-sm-3 col-xs-6" href="/documenation">Documentation</a>
            <div class="col-sm-6"><input type="text" placeholder="Search" style="width: 100%"></div>
        </nav>
        {{{content}}}
    </div>

    <script type="text/javascript" src="/script/recollections.js"></script>
</body>
</html>
