
body {
    font-family: 'Fira Sans', sans-serif;
}


/* Header -------------------------- */

.header {
    margin-bottom: 30px;
    color: #fff;
    background-color: hsl(316, 72%, 18%);
}

nav {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
}

nav a {
    display: inline-block;
    margin: 0 12px;
    color: inherit;
    line-height: 60px;
}

nav a:hover {
    color: hsl(316, 72%, 90%);
    text-decoration: none;
}

nav a:active {
    color: hsl(316, 72%, 78%);
}

.logo {
    text-align: center;
}
@media (min-width: 768px) {
    .logo {
        text-align: left;
    }
}

.header-logo {
    display: inline-block;
    height: 60px;
    vertical-align: top;
}

.header-name {
    font-size: 28px;
    font-weight: 300;
}

/* Search -------------------------- */

.search input {
    line-height: 1;
    margin: 26px 0;
    border-radius: 6px;
    outline: none;
    color: inherit;
    border: 2px solid hsla(0, 0%, 100%, 0);
}

.search input::-webkit-input-placeholder {
    padding: .4em 0 0 0;
}

.search input {
    font-size: 20px;
    padding: 2px 0.4em;
    background-color: hsla(0, 0%, 100%, 0.2);
}

.search input:hover {
    border-color: hsla(0, 0%, 100%, .2);
}

.search input:focus {
    border-color: hsla(0, 0%, 100%, .4);
    background-color: hsla(0, 0%, 100%, 0);
}

.github {
    text-align: center;
    vertical-align: middle;
    margin: 26px 0;
}
@media (min-width: 768px) {
    .github {
        text-align: right;
    }
}


/* https://github.com/twitter/typeahead.js/blob/master/doc/jquery_typeahead.md#look-and-feel */

.twitter-typeahead {
    width: 100%;
}

.tt-dropdown-menu {
    color: #000;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 0 0 4px 4px;
    border-top: 0;
    margin-top: 1px;
}

.tt-suggestion {
    padding: 2px 0.4em;
}

.tt-cursor {
    background: #c9c9c9;
}

/* Content -------------------------- */

.questions > div {
    margin-bottom: 10px;
}

.method h2::before {
    font-style: italic;
    color: #CCC;
    content: "collection.";
}

.deprecated {
    text-decoration: line-through;
}

.repl-input::before {
    content: "\00276F\0000a0";
}

.repl-output-comment {
    overflow: hidden;
    height: 1px;
    width: 1px;
    margin-left: -1px;
    display: inline-block;
}

.repl-command {
    padding-top: 4.5px;
}

.repl-command input {
    width: 100%;
}

/* Supplements --------------------- */
/* (the right hand side on the collection/method pages) */

/* Remove the top padding on the first title so that the top of title aligns
with the text on the left */
.supplements h3:first-child {
    margin-top: 0;
}

/* Footer -------------------------- */

.footer {
    text-align: center;
    padding: 4em 1em;
    color: #fff;
    margin-top: 30px;
}

.footer-title {
    display: inline-block;
    font-weight: 300;
    margin: 0 1rem 1.5em 1rem;
}

.footer-logo {
    max-height: 100px;
    margin: 0 1rem;
}

@media all and (min-width: 701px) {

    .footer {
        background: #181724 url(/images/bg-footer.jpg) no-repeat top center;
        background-size: auto 100%;
    }

}

@media all and (max-width: 700px) {
    .footer {
        background: #181724 url(/images/bg-footer--vertical.jpg) no-repeat top center;
        background-size: 100% auto;
    }
}

.card.collection {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-height: 40px;
    border: solid 1px #dddddd;
    border-radius: 5px;
    margin: 3px;
    border: dashed 1px #aaaaaa;
}

.card.collection.unavailable {
    /*background-color: hsla(0, 0%, 100%, 0.2);*/
    border: none;
}

.card.collection.recommended {
    /*background-color: hsla(0, 0%, 100%, 0.2);*/
    background-color: hsla(50, 100%, 50%, 0.3);
    border: solid 1px #aaaaaa;
}
