{{#include "layout" title=name bodyClass="collection" bundle="collections"}}

    <h2>{{name}}</h2>

    <div class="row">
        <div class="col-sm-6">
            {{{summary}}}

            {{{detail}}}

            <h3>Methods</h3>
            <dl>
                {{#each methods}}
                <dt><a href="/method/{{ref}}">{{name}}</a></dt>
                <dd>{{{summary}}}</dd>
                {{/each}}
            </dl>

        </div>

        <div class="col-sm-6 supplements">
            <h3>Usage</h3>
            {{{usage}}}
            <ul>
            {{#each names}}
                <li>{{this}}</li>
            {{/each}}
            </ul>

            {{#if samples}}
            <h3>{{#if samples.[1]}}Examples{{else}}Example{{/if}}</h3>
            {{include "repl" samples=samples}}
            {{/if}}

            {{#if see.length }}
            <h3>Related</h3>
            <ul>
                {{#each see}}
                <li>
                    <a href="{{ref}}">{{name}}</a>
                    {{{summary}}}
                </li>
                {{/each}}
            </ul>
            {{/if}}

        </div>
    </div>

{{/include}}
