{{#include "layout" title=name bodyClass="collection" bundle="collections"}}

    <div class="col-sm-6">

        <h2>{{name}}</h2>

        {{{summary}}}

        {{{detail}}}

        <h3>Methods</h3>
        <dl>
            {{#each methodIndex}}
            <dt><a href="/method/{{ref}}">{{name}}</a></dt>
            <dd><p>{{{summary}}}</p></dd>
            {{/each}}
        </dl>

    </div>

    <div class="col-sm-6">
        <h3 class="visible-xs">Examples</h3>

        {{include "repl" samples=samples}}

        <h3>Usage</h3>
        <ul>
        {{#each names}}
            <li>{{this}}</li>
        {{/each}}
        </ul>

        {{#if see.length }}
        <h3>Related</h3>
        {{#each see}}
        <ul>
            <li>
                <a href="{{ref}}">{{name}}</a>
                {{{summary}}}
            </li>
        </ul>
        {{/each}}
        {{/if}}

    </div>

{{/include}}
